<div class="create-msg content">
  <form id="createMsg" method="POST" action="/new">
    <h3>Create new message</h3>
    <br />
    <label for="title">Message title:</label><br />
    <input type="text" id="title" name="title" required /><br /><br />
    <label for="user">Author:</label><br />
    <input type="text" id="user" name="user" required /><br /><br />
    <label for="snippet">Message snippet:</label><br />
    <input type="text" id="snippet" name="snippet" required /><br /><br />
    <label for="body">Message body:</label><br />
    <textarea id="body" name="body" required></textarea><br /><br />
    <button>Submit</button>
  </form>
</div>
