<div class="create-msg content">
  <form method="POST" action="/new">
    <h3>Create new message</h3>
    <label for="title">Message title:</label>
    <input type="text" id="title" name="title" required />
    <label for="user">Author:</label>
    <input type="text" id="user" name="user" required />
    <label for="snippet">Message snippet:</label>
    <input type="text" id="snippet" name="snippet" required />
    <label for="body">Message body:</label>
    <textarea id="body" name="body" required></textarea>
    <button>Submit</button>
  </form>
</div>
