<!-- navbar.ejs -->
<nav>
  <div class="header">
    <div>
      <!--
    <a href="/"><h1>Mini Message Board</h1></a> -->
      <h1>Mini Message Board</h1>
    </div>
    <!--   moved to sidebar
    <ul>
      <% for (let i = 0; i < links.length; i++) { %>
      <li>
        <a href="<%= links[i].href %>">
          <span> <%= links[i].text %> </span>
        </a>
      </li>
      <% } %>
    </ul>
    -->
  </div>
</nav>
