<div class="sidebar">
  <nav>
    <ul id="sidebar">
      <% for (let i = 0; i < links.length; i++) { %>
      <li>
        <a href="<%= links[i].href %>">
          <span> <%= links[i].text %> </span>
        </a>
      </li>
      <% } %>
    </ul>
  </nav>
  <br />
  <hr />
  <br />
  <% if (typeof create === 'undefined' ? 'undefined' : create) { %> <%-
  include('./form.ejs') %> <% } %>
</div>
